.section1 {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: stretch;
    padding: 20px;
    flex-wrap: wrap;

}

.contentRight {
    max-width: 50em;
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
    padding: 20px;
}

.contentLeft {
    max-width: 30rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    /* background-color: red; */
}

.h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    text-align: justify;
}

.badge {
    display: flex;
    gap: 10px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgba(162, 166, 229, 0.276);
}

.badgeChild1 {
    background-color: whitesmoke;
    padding: 4px;
    font-size: small;
    height: fit-content;
    color: rgb(17, 86, 233);
    font-weight: 600;
}

.rightImage {
    width: 500px
}

@media only screen and (max-width : 768px) {
    .rightImage {
        width: 300px;
    }
}

.cardsSection {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 0 50px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    padding: 40px;
    width: 350px;
    height: 400px;
    background: rgb(233, 233, 233);
    border-radius: 10px;
    margin-bottom: 60px;
    transition: all 500ms;
}



.cardHeader {
    font-size: 1.2em;
    text-align: center;
}

.img {
    width: 100%;
}

@media (max-width:679px) {
    .img{
        display: none;
    }    
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}

.cardPara {
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.cardPara:hover{
    -webkit-line-clamp: 4;
}

.cardFooter {
    width: 100%;
    height: 250px;
    background: rgba(152, 146, 146, 0.191);
    border-radius: 20px;
    margin-bottom: 20px;
    transition:  all  500ms;
    z-index: -1;
    cursor: pointer;
}

.cardFooter:hover{
    transform: translateY(-30%);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.19);
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    white-space: nowrap;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
    
}

.button:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
  }

  .button:active {
    transform: scale(0.97);
  }
  

  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: rgb(222,0,75);
    background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }

  .button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {

    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
.section2{
    padding: 50px;
    width: 100%;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header2{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    flex-wrap: wrap;
}

.contentLeft2{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: brown; */
}

.contentRight2{
    height: 200px;
    max-width: 20lvh;
    display: flex;
    justify-content: right;
    /* background-color: red; */
    align-items: last baseline;
}

@media (max-width:768px) {
    .contentRight2{
        justify-content: left;
        /* background-color: red; */
        align-items:flex-end;
        height: 10  0px;

    }
}

